<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Its Showtime</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active"><a class="nav-link" href="#">Theaters</a>
			</li>
			<li class="nav-itemn"><a class="nav-link" href="#">Movies</a></li>
			<li class="nav-item"><a class="nav-link" href="#!displayEvents">Events</a>
			</li>
		</ul>
		<form class="form-inline my-2 my-lg-0">
			<input class="form-control bg-dark text-white" placeholder="search"
				ng-model="movieName" />
			<button class="btn btn-primary invisible"
				ng-click="model.searchMovie(movieName)">Search</button>
		</form>
		<span class="text-light">Welcome {{user.firstName}}!</span>
		<li class="nav-link"><a class="nav-link" href
			ng-click="model.profile()">Profile</a></li>
		<li class="nav-link"><a class="nav-link" href
			ng-click="model.home()">Home</a></li>
		<li class="nav-link"><a class="nav-link" href="#">Logout</a></li>
	</div>
</nav>
<div class="container-fluid">
	<h4 class="text-center">Booking Details</h4>
</div>
<div class="container" class="text-center">
	<div>
		<form name="mForm">
			<div class="form-group">
				<label for="bookingId">Booking Id</label> 
				<input type="number" class="form-control" id="bookingId" ng-value="booking.id" disabled>
			</div>
			<div class="form-group">
				<label for="price">Price</label> 
				$<input	type="text" class="form-control" id="price"	ng-value="booking.totalCost" disabled>
			</div>
			<div class="form-group">
				<label for="noOfTickets">No Of Ticket</label> 
				<input	type="number" class="form-control" id="noOfTickets" ng-model="noOfTickets" name="noOfTickets" min="1" max="10" ng-value="booking.noOfTickets" required>
			</div>
			<div class="form-group">
				<label for="date">Booking Date</label> 
				<input type="text" class="form-control" id="date" name="date" ng-model="date" ng-value="booking.date.substring(0,10)" required>
			</div>
		</form>
	</div>
	<div ng-if="bType == 'movie'">
		<form>
			<div class="form-group">
				<label for="movieName">Name</label> 
				<input type="text" class="form-control" id="movieName"	ng-value="movie.name" disabled>
			</div>
			<div class="form-group">
				<label for="movieRating">Rating</label> 
				<input	type="text" class="form-control" id="movieRating"	ng-value="movie.rating" disabled>
			</div>
			<div class="form-group">
				<label for="movieDuration">Duration</label> 
				<input	type="text" class="form-control" id="movieDuration"	ng-value="movie.duration" disabled>
			</div>
		</form>
	</div>
	
	<div ng-if="bType == 'event'">
		Name: {{event.name}} <br /> 
		Event Type: {{event.type}} <br />
		Description: {{event.description}} <br /> 
		Venue: {{event.venue}} <br />
		Capacity: {{event.capacity}} <br /> 
		Price: {{event.price}} <br />
		Date: {{event.eventDate.substring(0,10)}} <br />
		<form>
			<div class="form-group">
				<label for="eventName">Name</label> 
				<input type="text" class="form-control" id="eventName" ng-value="event.name" disabled>
			</div>
			<div class="form-group">
				<label for="eventType">Type</label> 
				<input	type="text" class="form-control" id="eventType"	ng-value="eventType" disabled>
			</div>
			<div class="form-group">
				<label for="eventDescription">Description</label> 
				<input	type="text" class="form-control" id="eventDescription"	ng-value="event.description" disabled>
			</div>
			<div class="form-group">
				<label for="eventVenue">Venue</label> 
				<input	type="text" class="form-control" id="eventVenue" ng-value="event.venue" disabled>
			</div>
			<div class="form-group">
				<label for="eventCapacity">Capacity</label> 
				<input	type="text" class="form-control" id="eventCapacity"	ng-value="event.capacity" disabled>
			</div>
			<div class="form-group">
				<label for="eventPrice">Price / Ticket</label> 
				<input	type="text" class="form-control" id="eventPrice" ng-value="event.price" disabled>
			</div>
			<div class="form-group">
				<label for="eventDate">Date</label> 
				<input	type="text" class="form-control" id="eventDate"	ng-value="event.eventDate.substring(0,10)" disabled>
			</div>
		</form>
	</div>
	
	<b>Historical Booking: </b> <br/>
	
	<p ng-if="booking.historicalBooking != null">
		Booking Id: {{booking.historicalBooking.id }} <br /> 
		Quantity: {{booking.historicalBooking.noOfTickets }} <br /> 
		Booking Date: {{booking.historicalBooking.date.substring(0,10) }} <br /> 
		Price: ${{booking.historicalBooking.totalCost }} <br />
	</p>
	
	<p ng-if="booking.historicalBooking == null">None</p>
		
	<div ng-if="booking.status == 'Active'">
		<div class="text-center">
			<button class="btn btn-primary" ng-click="model.home()">Back</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-success" ng-click="model.updateBooking(noOfTickets, date)">Modify</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button class="btn btn-danger" ng-click="model.cancelBooking(booking.id)">Cancel</button>
		</div>
	</div>
		
	<div ng-if="booking.status != 'Active'">
		<div class="text-center">
			<button class="btn btn-primary" ng-click="model.home()">Back</button>
		</div>
	</div>
</div>
