<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Its Showtime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Theaters</a>
            </li>
            <li class="nav-itemn">
                <a class="nav-link" href="#">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!displayEvents">Events</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input  class="form-control bg-dark text-white" placeholder="search" ng-model="movieName"/>
            <button class="btn btn-primary invisible"  ng-click="model.searchMovie(movieName)">Search</button>
        </form>
        <li class="nav-link">
            <a class="nav-link"  href="#!login">Log In</a>
        </li>
        <li class="nav-link">
            <a class="nav-link"  href="#!register">Register</a>
        </li>
    </div>
</nav>
<div class="container-fluid">
    <h4 class="text-center"></h4>
</div>
<div class="container">
    <div class="align-content-md-center">
    <form class="form-control">
        <h1 class="h3 mb-3 font-weight-normal">Event Details</h1>
        <label for="name" class="font-weight-bold">Name</label>
        {{eventDetails.name}} <br/>
        <label for="type" class="font-weight-bold">Event Type</label>
        {{eventDetails.type}} <br/>
        <label for="description" class="font-weight-bold">Description</label>
        {{eventDetails.description}} <br/>
        <label for="venue" class="font-weight-bold">Venue</label>
        {{eventDetails.venue}} <br/>
        <label for="capacity" class="font-weight-bold">Capacity</label>
        {{eventDetails.capacity}} <br/>
        <label for="price" class="font-weight-bold">Price</label>
        ${{eventDetails.price}} <br/>
        <label for="date" class="font-weight-bold">Date</label>
        {{eventDetails.eventDate}}
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="model.book()">Book Tickets</button>
    </form>
</div>
</div>