<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Its Showtime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Theaters</a>
            </li>
            <li class="nav-itemn">
                <a class="nav-link" href="#">Movies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!displayEvents">Events</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input  class="form-control bg-dark text-white" placeholder="search" ng-model="showTimes"/>
            <button class="btn btn-primary invisible"  ng-click="model.searchShwotimes(showtimesName)">Search</button>
        </form>
        <li class="nav-link">
            <a class="nav-link"  href="#!login">Log In</a>
        </li>
        <li class="nav-link">
            <a class="nav-link"  href="#!register">Register</a>
        </li>
    </div>
</nav>
<div class="container-fluid">
    <h4 class="text-center">Theatres around you</h4>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Slug</th>
            <th scope="col">Title</th>
            <th scope="col">Poster</th>
            <th scope="col">Showtimes</th>
        </tr>
        </thead>
        <tbody ng-repeat="showtime in allShowtimes.movies">
        <td>{{showtime.id}}</td>
        <td>{{showtime.slug}}</td>
        <td>{{showtime.title}}</td>
        <td><img src={{showtime.poster_image_thumbnail}}></td>
        <td><a href ng-click="model.movieDetails(showtime.id)">Book</a></td>
        </tbody>
    </table>
    </div>
</div>