
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>It's Showtime</title>
    

<script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
        console.log(window.location.href);
    </script>
    <!-- //Meta-Tags -->
    <!-- Index-Page-CSS -->
    <link rel="stylesheet" href="templates/assets/css/seatSelection.css" type="text/css" media="all">

    <!-- //Custom-Stylesheet-Links -->
    <!--fonts -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i" rel="stylesheet">
    <!-- //fonts -->
</head>

<body onload="onLoaderFunc()">
    <h1>Movie Seat Selection</h1>
    <div class="container">

        <div class="w3ls-reg">
            <!-- input fields -->
            <div class="inputForm">
                <h2>fill the required details below and select your seats</h2>
                <div class="mr_agilemain">
                    <div class="agileits-left">
                        <label> Email
                            <span>*</span>
                        </label>
                        <input type="text" id="Username" required value="{{user.userName}}">
                    </div>
                    <div class="agileits-right">
                        <label> Number of Seats
                            <span>*</span>
                        </label>
                        <input type="number" id="Numseats" required min="1" onchange="getTotalPrice()">
                    </div>
                    <div class="agileits-right">
                        <label> Price is $10 Per Ticket
                            <span></span>
                        </label>
                        
                    </div>
                </div>
                <button onclick="takeData()">Start Selecting</button>
            </div>
            <!-- //input fields -->
            <!-- seat availabilty list -->
            <ul class="seat_w3ls">
                <li class="smallBox greenBox">Selected Seat</li>

                <li class="smallBox redBox">Reserved Seat</li>

                <li class="smallBox emptyBox">Empty Seat</li>
            </ul>
            <!-- seat availabilty list -->
            <!-- seat layout -->
            <div class="seatStructure txt-center" style="overflow-x:auto;">
                <table id="seatsBlock">
                    <p id="notification"></p>
                    <tr>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td></td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                    </tr>
                    <tr>
                        <td>A</td>
                        <td>
                            <input type="checkbox" class="seats" id = "A1" value="A1,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "A2" value="A2,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "A3" value="A3,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "A4" value="A4,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "A5" value="A5,">
                        </td>
                        <td class="seatGap"></td>
                        <td>
                            <input type="checkbox" class="seats" id = "A6" value="A6,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "A7" value="A7,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "A8" value="A8,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "A9" value="A9,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "A10" value="A10,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "A11" value="A11,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "A12" value="A12,">
                        </td>
                    </tr>

                    <tr>
                        <td>B</td>
                        <td>
                            <input type="checkbox" class="seats" id = "B1" value="B1,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "B2" value="B2,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "B3" value="B3,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "B4" value="B4,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "B5" value="B5,">
                        </td>
                        <td></td>
                        <td>
                            <input type="checkbox" class="seats" id = "B6" value="B6,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "B7" value="B7,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "B8" value="B8,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "B9" value="B9,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "B10" value="B10,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "B11" value="B11,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "B12" value="B12,">
                        </td>
                    </tr>

                    <tr>
                        <td>C</td>
                        <td>
                            <input type="checkbox" class="seats" id = "C1" value="C1,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "C2" value="C2,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "C3" value="C3,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "C4" value="C4,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "C5" value="C5,">
                        </td>
                        <td></td>
                        <td>
                            <input type="checkbox" class="seats" id = "C6" value="C6,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "C7" value="C7,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "C8" value="C8,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "C9" value="C9,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "C10" value="C10,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "C11" value="C11,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "C12" value="C12,">
                        </td>
                    </tr>

                    <tr>
                        <td>D</td>
                        <td>
                            <input type="checkbox" class="seats" id = "D1" value="D1,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "D2" value="D2,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "D3" value="D3,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "D4" value="D4,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "D5" value="D5,">
                        </td>
                        <td></td>
                        <td>
                            <input type="checkbox" class="seats" id = "D6" value="D6,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "D7" value="D7,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "D8" value="D8,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "D9" value="D9,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "D10" value="D10,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "D11" value="D11,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "D2" value="D12,">
                        </td>
                    </tr>

                    <tr>
                        <td>E</td>
                        <td>
                            <input type="checkbox" class="seats" id = "E1" value="E1,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "E2" value="E2,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "E3" value="E3,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "E4" value="E4,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "E5" value="E5,">
                        </td>
                        <td></td>
                        <td>
                            <input type="checkbox" class="seats" id = "E6" value="E6,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "E7" value="E7,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "E8" value="E8,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "E9" value="E9,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "E10" value="E10,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "E11" value="E11,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "E12" value="E12,">
                        </td>
                    </tr>

                    <tr class="seatVGap"></tr>

                    <tr>
                        <td>F</td>
                        <td>
                            <input type="checkbox" class="seats" id = "F1" value="F1,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "F2" value="F2,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "F3" value="F3,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "F4" value="F4,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "F5" value="F5,">
                        </td>
                        <td></td>
                        <td>
                            <input type="checkbox" class="seats" id = "F6" value="F6,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "F7" value="F7,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "F8" value="F8,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "F9" value="F9,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "F10" value="F10,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "F11" value="F11,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "F12" value="F12,">
                        </td>
                    </tr>

                    <tr>
                        <td>G</td>
                        <td>
                            <input type="checkbox" class="seats" id = "G1" value="G1,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "G2" value="G2,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "G3" value="G3,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "G4" value="G4,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "G5" value="G5,">
                        </td>
                        <td></td>
                        <td>
                            <input type="checkbox" class="seats" id = "G6" value="G6,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "G7" value="G7,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "G8" value="G8,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "G9" value="G9,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "G10" value="G10,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "G11" value="G11,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "G12" value="G12,">
                        </td>
                    </tr>

                    <tr>
                        <td>H</td>
                        <td>
                            <input type="checkbox" class="seats" id = "H1" value="H1,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "H2" value="H2,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "H3" value="H3,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "H4" value="H4,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "H5" value="H5,">
                        </td>
                        <td></td>
                        <td>
                            <input type="checkbox" class="seats" id = "H6" value="H6,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "H7" value="H7,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "H8" value="H8,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "H9" value="H9,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "H10" value="H10,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "H11" value="H11,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "H12" value="H12,">
                        </td>
                    </tr>

                    <tr>
                        <td>I</td>
                        <td>
                            <input type="checkbox" class="seats" id = "I1" value="I1,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "I2" value="I2,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "I3" value="I3,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "I4" value="I4,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "I5" value="I5,">
                        </td>
                        <td></td>
                        <td>
                            <input type="checkbox" class="seats" id = "I6" value="I6,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "I7" value="I7,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "I8" value="I8,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "I9" value="I9,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "I10" value="I10,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "I11" value="I11,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "I12" value="I12,">
                        </td>
                    </tr>

                    <tr>
                        <td>J</td>
                        <td>
                            <input type="checkbox" class="seats" id = "J1" value="J1,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "J2" value="J2,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "J3" value="J3,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "J4" value="J4,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "J5" value="J5,">
                        </td>
                        <td></td>
                        <td>
                            <input type="checkbox" class="seats" id = "J6" value="J6,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "J7" value="J7,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "J8" value="J8,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "J9" value="J9,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "J10" value="J10,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "J11" value="J11,">
                        </td>
                        <td>
                            <input type="checkbox" class="seats" id = "J12" value="J12,">
                        </td>
                    </tr>
                </table>

                <div class="screen">
                    <h2 class="wthree">Screen this way</h2>
                </div>
                <button onclick="updateTextArea()">Confirm Selection</button>
            </div>
            <!-- //seat layout -->
            <!-- details after booking displayed here -->
            <div class="displayerBoxes txt-center" style="overflow-x:auto;">
                <table class="Displaytable w3ls-table" width="100%">
                    <tr>
                        <th>Name</th>
                        <th>Number of Seats</th>
                        <th>Seats</th>
                        <th>Total Price</th>
                    </tr>
                    <tr>
                        <td>
                            <textarea id="nameDisplay"></textarea>
                        </td>
                        <td>
                            <textarea id="NumberDisplay"></textarea>
                        </td>
                        <td>

                            <textarea id="seatsDisplay"></textarea>
                        </td>
                        <td>
                        	<textarea id ="totalPrice"></textarea>
                        </td>
                    </tr>
                </table>
                <br>
                <button class="theme-btn" onclick= "checkout()">Check out</button>
            </div>
            <div id="cinemaId" style="display: none;">{{cinemaId}}</div>
            <div id="movieId" style="display: none;">{{movieId}}</div>
            <div id="showtimeId" style="display: none;">{{showtimeId}}</div>
            <div id="seatsTaken" style="display: none;">{{seatsTaken}}</div>

            <!-- //details after booking displayed here -->
        </div>
    </div>
    
    <!-- js -->

    <!-- //js -->
    <!-- script for seat selection -->
    <script>
    var seats;
    var totalPrice;
        function onLoaderFunc() {
            $(".seatStructure *").prop("disabled", true);
            $(".displayerBoxes *").prop("disabled", true);
	
        }

        function takeData() {
        	
            if (($("#Username").val().length == 0) || ($("#Numseats").val().length == 0)) {
                alert("Please Enter your Name and Number of Seats");
            } else {
                $(".inputForm *").prop("disabled", true);
                $(".seatStructure *").prop("disabled", false);
                document.getElementById("notification").innerHTML =
                    "<b style='margin-bottom:0px;background:#ff9800;letter-spacing:1px;'>Please Select your Seats NOW!</b>";
            }
            
	var seatsTaken = document.getElementById("seatsTaken").innerHTML;
	var str = [];
	str = seatsTaken.replace(/"/g, "");
	str = str.replace("[", "");
	str = str.replace("]", "");
	console.log("str is "+str);
	var array = str.split(",");
	
        	console.log("Seats taken are "+str);
        	console.log("split is "+array)
        	console.log("0 is "+array[0]);
        	console.log(array[1]);
        	//console.log(str[0]);
        
        	for(var i =0; i < array.length; i++) {
     	
        	//document.getElementById(array[i]).checked = true;
        	var element = document.getElementById(array[i]);
        	element.disabled = true;	
        	element.classList.add("smallBox");
        	}
        }


        function updateTextArea() {

            if ($("input:checked").length == ($("#Numseats").val())) {
                $(".seatStructure *").prop("disabled", true);

                var allNameVals = [];
                var allNumberVals = [];
                var allSeatsVals = [];

                //Storing in Array
                allNameVals.push($("#Username").val());
                allNumberVals.push($("#Numseats").val());
                $('#seatsBlock :checked').each(function () {
                    allSeatsVals.push($(this).val());
                });

                //Displaying 
                $('#nameDisplay').html(allNameVals);
                $('#NumberDisplay').html(allNumberVals);
                $('#seatsDisplay').html(allSeatsVals);
            } else {
                alert("Please select " + ($("#Numseats").val()) + " seats")
            }
        }


        function myFunction() {
            alert($("input:checked").length);
        }
        
        function getTotalPrice() {
        	
        	var seats =  ($("#Numseats").val());
        	$('#totalPrice').html(10*seats);
        }

        function checkout() {
        	
        	var seats = document.getElementById("seatsDisplay").innerHTML;
        	var totalPrice = document.getElementById("totalPrice").innerHTML;
        	var cinemaId = document.getElementById("cinemaId").innerHTML;
        	var movieId = document.getElementById("movieId").innerHTML;
        	var showtimeId = document.getElementById("showtimeId").innerHTML;
        	var username = document.getElementById("Username").value;
        	
        	console.log(username);
        	console.log(seats);
        	console.log(totalPrice);
        	console.log(cinemaId);
        	console.log(movieId);
        	console.log(showtimeId);
        	
        	window.location.href = "#!/payment/:"+seats+"/:"+totalPrice+"/:"+ cinemaId+ "/:"+movieId + "/:"+showtimeId+ "/:"+username;
        }
        
        /*
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for(var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
        */


        $(":checkbox").click(function () {
            if ($("input:checked").length == ($("#Numseats").val())) {
                $(":checkbox").prop('disabled', true);
                $(':checked').prop('disabled', false);
            } else {
                $(":checkbox").prop('disabled', false);
            }
        });
       
      
        
        
    </script>
    <!-- //script for seat selection -->
   

</body>

</html>