<!DOCTYPE HTML>
<html lang="zxx">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Moviepoint - Online Movie,Vedio and TV Show HTML5 Template</title>
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="templates/assets/img/favcion.png" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/bootstrap.min.css" media="all" />
		<!-- Slick nav CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/slicknav.min.css" media="all" />
		<!-- Iconfont CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/icofont.css" media="all" />
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/owl.carousel.css">
		<!-- Popup CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/magnific-popup.css">
		<!-- Main style CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/style.css" media="all" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/responsive.css" media="all" />
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body class="index-body">
		<!-- Page loader -->

		<!-- header section start -->
		<header class="header">
			<div class="container">
				<div class="header-area">
					<div class="logo">
						<a href="index.html"><img src="templates/assets/img/logo.png" alt="logo" /></a>
					</div>
					<div class="header-right">
						<form action="#">
							<select>
								<option value="Movies">Movies</option>
								<option value="Movies">Movies</option>
								<option value="Movies">Movies</option>
							</select>
							<input type="text"/>
							<button><i class="icofont icofont-search"></i></button>
						</form>
						<ul>
							<li><a href="#">Welcome Guest!</a></li>
							<li><a class="login-popup" href="#">Login</a></li>
						</ul>
					</div>
					<div class="menu-area">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
                                <li><a class="active" href="#!/">Home</a></li>
                                <li><a href="#!/cinemas">Theatres</a></li>
                                <li><a href="#!/movies">Movies</a></li>
                                <li><a href="celebrities.html">CelebritiesList</a></li>
                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header>
		<div class="login-area">
			<div class="login-box">
				<a href="#"><i class="icofont icofont-close"></i></a>
				<h2>LOGIN</h2>
				<form action="#">
					<h6>USERNAME OR EMAIL ADDRESS</h6>
					<input type="text" />
					<h6>PASSWORD</h6>
					<input type="text" />
					<div class="login-remember">
						<input type="checkbox" />
						<span>Remember Me</span>
					</div>
					<div class="login-signup">
						<span>SIGNUP</span>
					</div>
					<a href="#" class="theme-btn">LOG IN</a>
					<span>Or Via Social</span>
					<div class="login-social">
						<a href="#"><i class="icofont icofont-social-facebook"></i></a>
						<a href="#"><i class="icofont icofont-social-twitter"></i></a>
						<a href="#"><i class="icofont icofont-social-linkedin"></i></a>
						<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
						<a href="#"><i class="icofont icofont-camera"></i></a>
					</div>
				</form>
				
			</div>
		</div>
		<!-- header section end -->		<!-- hero area start -->
		<section class="hero-area" id="home" >
			<div class="container">
				<div class="hero-area-slider"  ng-repeat="movie in allMovies.movies">
					<div class="row hero-area-slide">
						<div class="col-lg-6 col-md-5">
							<div class="hero-area-content">
								<img src="{{movie.poster_image.image_files[3].url}}" alt="about" />
							</div>
						</div>
						<div class="col-lg-6 col-md-7">
							<div class="hero-area-content pr-50">
								<h2>{{movie.title}}</h2>
								<div class="review">
									<div class="author-review">
										<i class="icofont icofont-star">IMDB: {{movie.ratings.imdb.value}}</i>
									</div>
									<h4>{{movie.ratings.imdb.vote_count}} voters</h4>
								</div>
								<p>{{movie.synopsis}}</p>
								<h3>Cast:</h3>
								<div class="slide-cast">
									<div class="">
										{{movie.cast[0].name}},<br/>{{movie.cast[1].name}}, <br/>{{movie.cast[2].name}},
										<br/>{{movie.cast[3].name}},<br/>{{movie.cast[4].name}}
									</div>
								</div>
								<div class="slide-trailor">
									<a class="theme-btn theme-btn2" href="{{movie.trailers[0].trailer_files[0].url}}" class="popup-youtube"><i class="icofont icofont-play"></i>Watch Trailer</a>
									<a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
								</div>
							</div>
						</div>
					</div>					
				</div>
				<div class="hero-area-thumb"  ng-repeat="movie in allMovies.movies">
					<div class="thumb-prev">
						<div class="row hero-area-slide" >
							<div class="col-lg-6">
								<div class="hero-area-content">
									<img src="{{movie[movie.length-1].poster_image.image_files[3].url}}" alt="about" />
								</div>
							</div>
							<div class="col-lg-6">
								<div class="hero-area-content pr-50">
									<h2>{{movie[movie.length-1].title}}</h2>
									<div class="review">
											<div class="author-review">
										<i class="icofont icofont-star">IMDB: {{movie[movie.length-1].ratings.imdb.value}}</i>
									</div>
									<h4>{{movie[movie.length-1].ratings.imdb.vote_count}} voters</h4>
								</div>
								<p>{{movie[movie.length-1].synopsis}}</p>
								<h3>Cast:</h3>
								<div class="slide-cast">
									<div class="">
										{{movie[movie.length-1].cast[0].name}},<br/>
										{{movie[movie.length-1].cast[1].name}},<br/>
										{{movie[movie.length-1].cast[2].name}},<br/>
										{{movie[movie.length-1].cast[3].name}},<br/>
										{{movie[movie.length-1].cast[4].name}}
									</div>
								</div>
								<div class="slide-trailor">
									<a class="theme-btn theme-btn2" href="{{movie[movie.length-1].trailers[0].trailer_files[0].url}}" class="popup-youtube"><i class="icofont icofont-play"></i>Watch Trailer</a>
									<a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
								</div>
								</div>
							</div>
						</div>
					</div>
					<div class="thumb-next" >
						<div class="row hero-area-slide">
						<div class="col-lg-6 col-md-5">
							<div class="hero-area-content">
								<img src="{{movie[$index+1].poster_image.image_files[3].url}}" alt="about" />
							</div>
						</div>
						<div class="col-lg-6 col-md-7">
							<div class="hero-area-content pr-50">
								<h2>{{movie[$index+1].title}}</h2>
								<div class="review">
									<div class="author-review">
										<i class="icofont icofont-star">IMDB: {{movie[$index+1].ratings.imdb.value}}</i>
									</div>
									<h4>{{movie[$index+1].ratings.imdb.vote_count}} voters</h4>
								</div>
								<p>{{movie[$index+1].synopsis}}</p>
								<h3>Cast:</h3>
								<div class="slide-cast">
									<div class="">
										{{movie[$index+1].cast[0].name}},<br/>
										{{movie[$index+1].cast[1].name}},<br/>
										{{movie[$index+1].cast[2].name}},<br/>
										{{movie[$index+1].cast[3].name}},<br/>
										{{movie[$index+1].cast[4].name}}
									</div>
								</div>
								<div class="slide-trailor">
									<a class="theme-btn theme-btn2" href="{{movie[$index+1].trailers[0].trailer_files[0].url}}" class="popup-youtube"><i class="icofont icofont-play"></i>Watch Trailer</a>
									<a class="theme-btn theme-btn2" href="#"><i class="icofont icofont-play"></i> Tickets</a>
								</div>
							</div>
						</div>
					</div>	
					</div>
				</div>
			</div>
		</section><!-- hero area end -->
		<!-- video section start -->
		<!-- news section start -->
		<!-- footer section start -->
		<footer class="footer">
			<div class="container">
				<div class="row">
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<img src="templates/assets/img/logo.png" alt="about" />
							<p>7th Harley Place, London W1G 8LZ United Kingdom</p>
							<h6><span>Call us: </span>(+880) 111 222 3456</h6>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>Legal</h4>
							<ul>
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Security</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>Account</h4>
							<ul>
								<li><a href="#">My Account</a></li>
								<li><a href="#">Watchlist</a></li>
								<li><a href="#">Collections</a></li>
								<li><a href="#">User Guide</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>Newsletter</h4>
							<p>Subscribe to our newsletter system now to get latest news from us.</p>
							<form action="#">
								<input type="text" placeholder="Enter your email.."/>
								<button>SUBSCRIBE NOW</button>
							</form>
						</div>
                    </div>
				</div>
				<hr />
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 text-center text-lg-left">
							<div class="copyright-content">
								<p>&copy; 2018 MoviePoint. All Rights Reserved. Designed by octopas</p>
							</div>
						</div>
						<div class="col-lg-6 text-center text-lg-right">
							<div class="copyright-content">
								<a href="#" class="scrollToTop">
									Back to top<i class="icofont icofont-arrow-up"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer><!-- footer section end -->
		<!-- jquery main JS -->
		<script src="templates/assets/js/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="templates/assets/js/bootstrap.min.js"></script>
		<!-- Slick nav JS -->
		<script src="templates/assets/js/jquery.slicknav.min.js"></script>
		<!-- owl carousel JS -->
		<script src="templates/assets/js/owl.carousel.min.js"></script>
		<!-- Popup JS -->
		<script src="templates/assets/js/jquery.magnific-popup.min.js"></script>
		<!-- Isotope JS -->
		<script src="templates/assets/js/isotope.pkgd.min.js"></script>
		<!-- main JS -->
		<script src="templates/assets/js/main.js"></script>
	</body>
</html>
