<div class="align-content-md-center">
    <form class="form-control">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="username">Username</label>
        <input id="username" ng-model="username" class="form-control" placeholder="Username" required="" autofocus="" type="text">
        <label for="password">Password</label>
        <input id="password" ng-model="password" class="form-control" placeholder="Password" required="" type="password">
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="model.login(username, password)">Login</button>
    </form>
</div>
