<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Its Showtime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <span class="nav-link">Welcome {{user.firstName}}! <span class="sr-only">(current)</span></span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href ng-click="model.profile()">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href ng-click="model.home()">Home</a>
      </li>
    </ul>
  </div>
</nav>

<h4 class="text-center">Admin Panel</h4>
<div class="container">
<table class="table table-hover">
	<thead>
	<tr>
	<th>
		<input ng-model="options" type="radio" value="customers" /> Customer
	</th>
	<th>
		<input ng-model="options" type="radio" value="vendors" /> Vendor
	</th>
	<th>
		<input ng-model="options" type="radio" value="movies" /> Movie
	</th>
	<th>
		<input ng-model="options" type="radio" value="events" /> Event
	</th>
	<th>
		<input ng-model="options" type="radio" value="theatres" /> Theatre
	</th>
	<th>
		<input ng-model="options" type="radio" value="bookings" /> Booking
	</th>
	<th>
		<input ng-model="options" type="radio" value="payments" /> Payment
	</th>
	</tr>
	</thead>
</table>
</div>
<div class="text-center">
 <h2 ng-if="options === 'customers'">Customer List</h2>
 <h2 ng-if="options === 'vendors'">Vendor List</h2>
 <h2 ng-if="options === 'movies'">Movie List</h2>
 <h2 ng-if="options === 'events'">Event List</h2>
 <h2 ng-if="options === 'theatres'">Theatre List</h2>
 <h2 ng-if="options === 'bookings'">Booking List</h2>
 <h2 ng-if="options === 'payments'">Payment List</h2>
 
 </div>