<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Its Showtime</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <span class="nav-link">Welcome {{user.firstName}}! <span class="sr-only">(current)</span></span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href ng-click="model.profile()">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href ng-click="model.home()">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<h4>
<p class="text-center">Admin Panel</p></h4>
<div class="container">
<table class="table table-hover">
	<thead>
	<tr>
	<th>
		<input ng-model="options" type="radio" value="customers" ng-change='model.getCustomer()'/> Customer
	</th>
	<th>
		<input ng-model="options" type="radio" value="vendors" ng-change='model.getVendor()'/> Vendor
	</th>
	<th>
		<input ng-model="options" type="radio" value="movies" ng-change='model.getMovie()'/> Movie
	</th>
	<th>
		<input ng-model="options" type="radio" value="events" ng-change='model.getEvent()'/> Event
	</th>
	<th>
		<input ng-model="options" type="radio" value="theatres" ng-change='model.getTheatre()'/> Theatre
	</th>
	<th>
		<input ng-model="options" type="radio" value="bookings" ng-change='model.getBooking()'/> Booking
	</th>
	<th>
		<input ng-model="options" type="radio" value="payments" ng-change='model.getPayment()'/> Payment
	</th>
	</tr>
	</thead>
</table>
</div>
<div class="text-center">
 <div ng-if="options === 'customers'" class="container">
 	<h3>Customers</h3>
 	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Date Of Birth</th>
				<th scope="col">Details</th>
				<th></th>
			</tr>
		</thead>
		<tbody ng-repeat="customer in allCustomers">
			<td>{{customer.id}}</td>
			<td>{{customer.firstName}} {{customer.lastName}}</td>
			<td>{{customer.userName}}</td>
			<td>{{customer.dob}}</td>
			<td><i class="fas fa-cog" ng-click="model.custDetail(customer.id)"></i></td>
			<td><button type="button" class= "btn btn-danger" ng-click="model.deleteCust(customer.id)">Delete</button></td>
		</tbody>
	</table>
	<button type="button" class= "btn btn-primary" ng-click="model.createCust()">Create Customer</button>
 </div>
 
 <div ng-if="options === 'vendors'" class="container">
 	<h3>Vendors</h3>
 	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Email</th>
				<th scope="col">Date Of Birth</th>
				<th scope="col">Details</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody ng-repeat="vendor in allVendors">
			<td>{{vendor.id}}</td>
			<td>{{vendor.firstName}} {{vendor.lastName}}</td>
			<td>{{vendor.userName}}</td>
			<td>{{vendor.dob}}</td>
			<td><i class="fas fa-cog" ng-click="model.vendorDetail(vendor.id)"></i></td>
			<td><button type="button" class= "btn btn-danger" ng-click="model.deleteVendor(vendor.id)">Delete</button></td>
		</tbody>
	</table>
	<button type="button" class= "btn btn-primary" ng-click="model.createVendor()">Create Vendor</button>
 </div>
 
 <div ng-if="options === 'movies'" class="container">
 	<h3>Movies</h3>
 	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Rating</th>
				<th scope="col">Duration</th>
				<th scope="col">Theatres Hosted</th>
				<th scope="col">Details</th>
				<th></th>
			</tr>
		</thead>
		<tbody ng-repeat="movie in allMovies">
			<td>{{movie.id}}</td>
			<td>{{movie.name}}</td>
			<td>{{movie.rating}}</td>
			<td>{{movie.duration}}</td>
			<td>{{movie.theatreId.length}}</td>
			<td><i class="fas fa-cog" ng-click="model.movieDetail(movie.id)"></i></td>
			<td><button type="button" class= "btn btn-danger" ng-click="model.deleteMovie(movie.id)">Delete</button></td>
		</tbody>
	</table>
	<button type="button" class= "btn btn-primary" ng-click="model.createMovie()">Create Movie</button>
 </div>
 
 <div ng-if="options === 'events'" class="container">
 	<h3>Events</h3>
 	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">Type</th>
				<th scope="col">Description</th>
				<th scope="col">Venue</th>
				<th scope="col">Capacity</th>
				<th scope="col">Price/Ticket</th>
				<th scope="col">Date</th>
				<th scope="col">Details</th>
				<th></th>
			</tr>
		</thead>
		<tbody ng-repeat="event in allEvents">
			<td>{{event.id}}</td>
			<td>{{event.name}}</td>
			<td>{{event.type}}</td>
			<td>{{event.description}}</td>
			<td>{{event.venue}}</td>
			<td>{{event.capacity}}</td>
			<td>{{event.price}}</td>
			<td>{{event.eventDate}}</td>
			<td><i class="fas fa-cog" ng-click="model.eventDetail(event.id)"></i></td>
			<td><button type="button" class= "btn btn-danger" ng-click="model.deleteEvent(event.id)">Delete</button></td>
		</tbody>
	</table>
	<button type="button" class= "btn btn-primary" ng-click="model.createEvent()">Create Event</button>
 </div>
 
 <div ng-if="options === 'theatres'" class="container">
 	<h3>Theatres</h3>
 	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Name</th>
				<th scope="col">ShowTime Id</th>
				<th scope="col">Details</th>
				<th></th>
			</tr>
		</thead>
		<tbody ng-repeat="theatre in allTheatres">
			<td>{{theatre.id}}</td>
			<td>{{theatre.name}}</td>
			<td>{{theatre.showtimeId}}</td>
			<td><i class="fas fa-cog" ng-click="model.theatreDetail(theatre.id)"></i></td>
			<td><button type="button" class= "btn btn-danger" ng-click="model.deleteTheatre(theatre.id)">Delete</button></td>
		</tbody>
	</table>
	<button type="button" class= "btn btn-primary" ng-click="model.createTheatre()">Create Theatre</button>
 </div>

<div ng-if="options === 'bookings'" class="container">
 	<h3>Bookings</h3>
 	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Tickets Booked</th>
				<th scope="col">Date</th>
				<th scope="col">Price</th>
				<th scope="col">Status</th>
				<th scope="col">Historical Booking</th>
				<th scope="col">Details</th>
				<th></th>
			</tr>
		</thead>
		<tbody ng-repeat="booking in allBookings">
			<td>{{booking.id}}</td>
			<td>{{booking.noOfTickets}}</td>
			<td>{{booking.date.substring(1,10)}}</td>
			<td>${{booking.totalCost}}</td>
			<td>{{booking.status}}</td>
			<td>{{booking.historicalBooking.id}}</td>
			<td><i class="fas fa-cog" ng-click="model.bookingDetail(booking.id)"></i></td>
			<td><button type="button" class= "btn btn-danger" ng-click="model.deleteBooking(booking.id)">Delete</button></td>
		</tbody>
	</table>
	<button type="button" class= "btn btn-primary" ng-click="model.createBooking()">Create Booking</button>
 </div>

<div ng-if="options === 'payments'" class="container">
 	<h3>Payments</h3>
 	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Amount</th>
				<th scope="col">Date</th>
				<th scope="col">Status</th>
				<th scope="col">Booking</th>
				<th scope="col">Details</th>
				<th></th>
			</tr>
		</thead>
		<tbody ng-repeat="payment in allPayments">
			<td>{{payment.id}}</td>
			<td>${{payment.amount}}</td>
			<td>{{payment.payDate.substring(1,10)}}</td>
			<td>{{payment.status}}</td>
			<td>{{payment.booking.id}}</td>
			<td><i class="fas fa-cog" ng-click="model.paymentDetail(payment.id)"></i></td>
			<td><button type="button" class= "btn btn-danger" ng-click="model.deletePayment(payment.id)">Delete</button></td>
		</tbody>
	</table>
	<button type="button" class= "btn btn-primary" ng-click="model.createPayment()">Create Payment</button>
 </div> 
 </div>