<!DOCTYPE HTML>
<html lang="zxx">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Moviepoint - Online Movie,Vedio and TV Show HTML5 Template</title>
		<!-- Favicon Icon -->
		<link rel="icon" type="image/png" href="templates/assets/img/favcion.png" />
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/bootstrap.min.css" media="all" />
		<!-- Slick nav CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/slicknav.min.css" media="all" />
		<!-- Iconfont CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/icofont.css" media="all" />
		<!-- Owl carousel CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/owl.carousel.css">
		<!-- Popup CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/magnific-popup.css">
		<!-- Main style CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/style.css" media="all" />
		<!-- Responsive CSS -->
		<link rel="stylesheet" type="text/css" href="templates/assets/css/responsive.css" media="all" />
		
	
    
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script>
		
		function enterTickets() {
			var noOfTickets = document.getElementById("noOfTickets").value;
			var username = document.getElementById("username").value;
			var eventId = document.getElementById("eventId").innerHTML;
			console.log("event id is "+eventId);	
			if(noOfTickets == ""){
				alert("Please enter number of tickets");
				window.location.href = "/#!/selectTickets";
				
			}
			if(username == "") {
				alert("Please enter your email");
				window.location.href = "/#!/selectTickets";
			}
			else {
				
				window.location.href = "/#!/eventPayment/:"+eventId+"/:"+noOfTickets+"/:"+username;
			}
		}
		</script>
		<script>
$(document).ready(function() {
	var w = document.getElementById("welcomeUser");
	var welcome = document.getElementById("welcomeUser").innerHTML;
	console.log("hi from showhide "+welcome);
	var login = document.getElementById("doLogin");
	
	if(welcome == "") {
		
	
		login.style.display = "block";
	}
	
	else {
		
		w.style.display = "block";
	}
});

</script>

	</head>
	<body>
	
	<!-- Page loader -->
	 
		<!-- header section start -->
		<header class="header">
			<div class="container">
				<div class="header-area">
					<div class="logo">
						<a href="index.html"><img src="templates/assets/img/logo.png" alt="logo" /></a>
					</div>
					<div class="header-right">
						<form action="#">
							<select>
								<option value="Movies">Movies</option>
								<option value="Movies">Movies</option>
								<option value="Movies">Movies</option>
							</select>
							<input type="text"/>
							<button><i class="icofont icofont-search"></i></button>
						</form>
						<ul>
							<li>Welcome <span id="welcomeUser" style="display: none;">{{user.firstName}}</span></li>
							<li><a href="#!/login"><span id="doLogin" style="display: none;">Login</span></a></li>
							
						</ul>
					</div>
					<div class="menu-area">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
                                <li><a href="#!/">Home</a></li>
                                <li><a href="#!/cinemas">Theatres</a></li>
                                <li><a href="#!/movies">Movies</a></li>
                                <li><a class="active" href="#!/displayEvents">Events</a></li>
                                
                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header>
		
		<!-- header section end -->
		<!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<h1>Events Near You</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		
		<section class="transformers-area">
			<div class="container">
				<div class="transformers-box" ng-repeat="event in allEvents">
					<div class="row flexbox-center">
						
						<div class="col-lg-4">
											<div class="select-container">
												<input id = "noOfTickets" type="number" required placeholder="Number of tickets"/> 
													
												<div id="eventId" style="display: none;">{{eventId}}</div>
											</div>
											<div class="col-lg-12">
											<div class="textarea-container">
												<input id = "username" type="text" required placeholder="Enter your email here" value="{{user.userName}}"/>
												<a class="theme-btn" onclick="enterTickets()">Proceed to Payment</a>
											</div>
										</div>
					</div>
					
				</div>
			</div>
		</section><!-- transformers area end -->
		<!-- footer section start -->
		<footer class="footer">
			<div class="container">
				<div class="row">
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<img src="templates/assets/img/logo.png" alt="about" />
							<p>Northeastern University</p>
							<h6><span>Call us: </span>(+1) 617 650 8725</h6>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>Legal</h4>
							<ul>
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Security</a></li>
							</ul>
						</div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
						<div class="widget">
							<h4>Account</h4>
							<ul>
								<li><a href="#">My Account</a></li>
								<li><a href="#">Watchlist</a></li>
								<li><a href="#">Collections</a></li>
								<li><a href="#">User Guide</a></li>
							</ul>
						</div>
                    </div>
				</div>
				<hr />
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 text-center text-lg-left">
							<div class="copyright-content">
								<p>&copy; 2018 It's Showtime. All Rights Reserved. Designed by concept squad</p>
							</div>
						</div>
						<div class="col-lg-6 text-center text-lg-right">
							<div class="copyright-content">
								<a href="#" class="scrollToTop">
									Back to top<i class="icofont icofont-arrow-up"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer><!-- footer section end -->
		<!-- jquery main JS -->
		<script src="templates/assets/js/jquery.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="templates/assets/js/bootstrap.min.js"></script>
		<!-- Slick nav JS -->
		<script src="templates/assets/js/jquery.slicknav.min.js"></script>
		<!-- owl carousel JS -->
		<script src="templates/assets/js/owl.carousel.min.js"></script>
		<!-- Popup JS -->
		<script src="templates/assets/js/jquery.magnific-popup.min.js"></script>
		<!-- Isotope JS -->
		<script src="templates/assets/js/isotope.pkgd.min.js"></script>
		<!-- main JS -->
		<script src="templates/assets/js/main.js"></script>
</body></html>
